<ul>
    <li>
        <div>
            <h1> 
                {{object.name}}
            </h1>
            <a href="/{{ object.category.id }}/">{{ object.category.name }}</a>
            <br>
                <img src="{{ object.item.url }}" width=300px />
        </div>
    </li>
</ul>