{% if list_categories %}
    <ul>
    {% for category in list_categories %}
        <li><a href="/{{ category.id }}/">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}