{% if image_list %}
    <ul>
    {% for image in image_list %}
        <li>
            <div>
                <h1> 
                    {{image.name}}
                </h1>
                <a href="/{{ image.category.id }}/">{{ image.category.name }}</a>
                <br>
                <a href='/{{ image.category.id }}/{{ image.id }}/'>
                    <img src="{{ image.item.url }}" width=300px />
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Image are available.</p>
{% endif %}